# Populating and querying the `anomalies` table in the `jwqldb`
This shows how to add records to the `anomalies` table in the `jwqldb`

In [3]:
# Import
from jwql.database import database_interface as di

Here's some dummy records to populate the `anomalies` table in the database.

In [4]:
di.session.add(di.Anomaly(filename='foo1', bowtie=True))
di.session.add(di.Anomaly(filename='foo2', bowtie=True, crosstalk=True))
di.session.add(di.Anomaly(filename='foo3', snowball=True))
di.session.add(di.Anomaly(filename='foo4', bowtie=True, snowball=True))
di.session.add(di.Anomaly(filename='foo5', crosstalk=True))
di.session.add(di.Anomaly(filename='foo6', crosstalk=True, snowball=True))
di.session.commit()

Now we can query the database for all records with bowtie anomalies.

In [5]:
bowties = di.session.query(di.Anomaly).filter(di.Anomaly.bowtie == True)

I added a method to return the result as a `pandas.DataFrame` for kicks.

In [6]:
bowties.data_frame()

,id,filename,flag_date,bowtie,snowball,cosmic_ray_shower,crosstalk,cte_correction_error,data_transfer_error,detector_ghost,...,figure8_ghost,filter_ghost,fringing,guidestar_failure,banding,persistence,prominent_blobs,trail,scattered_light,other
0,1,foo1,2018-08-06 10:45:11.916114,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,2,foo1,2018-08-06 10:45:11.916114,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,3,foo2,2018-08-06 10:45:11.916114,True,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,5,foo4,2018-08-06 10:45:11.916114,True,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

And a print statement for a quick summary.

In [7]:
bowties[2]

Anomaly 3: foo2 flagged at 2018-08-06 10:45:11.916114 for ['crosstalk', 'bowtie']

Here's all the columns in the `anomalies` table.

In [8]:
bowties[2].colnames

['data_transfer_error',
 'diffraction_spike',
 'crosstalk',
 'trail',
 'prominent_blobs',
 'bowtie',
 'scattered_light',
 'persistence',
 'figure8_ghost',
 'detector_ghost',
 'banding',
 'other',
 'guidestar_failure',
 'excessive_saturation',
 'snowball',
 'cosmic_ray_shower',
 'filter_ghost',
 'dragon_breath',
 'diamond',
 'earth_limb',
 'cte_correction_error',
 'fringing']